 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
              <p>This first edition of the Paris-Saclay Junior Conference on Data Science and Engineering is addressed to PhD students in their PhD thesis first year, students doing a Master or in second/third year at the school of Engineers at University Paris-Saclay. It will offer these students the opportunity to present their scientific works developed at internships, or in the first year of thesis, and also to develop their critical sense inside a real conference with prestigious invited Keynotes, academic researchers and industrial researchers and practitioners.</p>
            </div>
        </div>
    </section>
