 <!-- Call Section -->
    <section class="success" id="call">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Call for submissions</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                  <p>We invite Master M2 and PhD students from Université Paris-Saclay to submit an extended abstract of up to 2 pages describing new or preliminary results in order to present their work in one of the two forms: oral talk or poster.  Submissions should be formatted according to the Springer Lecture Notes in Computer Science style. Each extended abstract must be submitted online via the Easychair submission system:</p>
                  <div style="text-align:center;">
                    <a href="https://easychair.org/conferences/?conf=jdsparis16" class="btn btn-lg btn-outline" role="button">
                      <i class="fa-file-text-o"></i> SUBMIT
                    </a>
                  </div>
                  <br>
                  <p>The topics of the conference are listed below:
                    <br>
                  <ul>
                    <big><big>
                    <li>databases</li>
                    <li>big data analytics</li>
                    <li>workflows</li>
                    <li>distributed data and computing</li>
                    <li>data mining</li>
                    <li>machine learning</li>
                    <li>statistics</li>
                    <li>semantic web</li>
                    <li>large scale data</li>
                    <li>applications of data science (image, documents, audio, video, biomedical and biological data, on-line advertisement, physics, chemistry, smart cities...)</li></big></big>
                  </ul></p>
                  <p>The deadline for submissions for oral and poster presentations is <u>August 12th. 2016</u></p>
                  <p>The extended abstracts will be reviewed by the scientific program committee. They will be selected for oral or poster presentation according to their originality and relevance to the conference topics. Electronic versions of the extended abstracts will be accessible to the participants prior to the conference, distributed in hardcopy form to participants at the conference, and will be made publicly available on the conference web site after the conference. However, the book of abstracts will not be published and the extended abstracts will not constitute a formal publication.</p>
                  <p><b><u>Note:</u></b> Only Master M2 and PhD students from Université Paris-Saclay are invited to contribute.</p>
            </div>
        </div>
    </section>
