 <!-- About Section -->
    <section id="dates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Important Dates</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
              <p>Contributions Submission deadline: July 25th, 2016</p>
              <p>Acceptance notification: August 25th, 2016</p>
              <p>Conference: September 15-16th, 2016</p>
            </div>
        </div>
    </section>
