 <!-- About Section -->
    <section class="success" id="organizers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Organizers</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
              <p>Florence d'Alché
                <br>
                <small>Chair
                <br>
                Télécom ParisTech, UPsay</small></p>
              <p>Albert Bifet
                <br>
                <small>Chair
                <br>
                Télécom ParisTech, UPSay</small></p>
              <p>Sylvain Arlot
                <br>
                <small>Université Paris-Sud, UPSay</small></p>
              <p>Sarah Cohen Boulakia
                <br>
                <small>Université Paris-Sud, UPsay</small></p>
              <p>Arnak Dalalyan
                <br>
                <small>ENSAE ParisTech, UPsay</small></p>
              <p>Christophe Giraud
                <br>
                <small>Université Paris-Sud, UPsay</small></p>
              <p>Joseph Salmon
                <br>
                <small>Télécom-ParisTech, UPsay</small></p>
              <p>Karine Zeitouni
                <br>
                <small>USVQ, UPsay</small></p>
            </div>
        </div>
    </section>
