 <!-- Program Section -->
    <section class="success_dark" id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Program</h2>
                    <hr class = "primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-lg-offset-1">
                <div class="col-lg-6 col-md-6 col-sm-12" style='color: #ffffff;'>
                    <br/>
                    <br/>
                    <h4 >Thursday 15 September 2016</h4>
                    <p align="justify">09:30 - 10:30	Keynote Patrick Valdhuriez</p>
                    <p align="justify">10:30 - 11:00	Coffee break</p>
                    <p align="justify">11:00 - 13:30	Session 1</p>
                    <p align="justify">13:30 - 14:30	Lunch</p>
                    <p align="justify">14:30 - 15:30	Keynote Hervé Jegou</p>
                    <p align="justify">15:30 - 16:30	Posters/Coffee break</p>
                    <p align="justify">16:30 - 18:00	Session 2</p>
                  </div>

                <div class="col-lg-6 col-md-6 col-sm-12" style='color: #ffffff;'>
                    <br/>
                    <br/>
                    <h4>Friday 16 September 2016</h4>
                    <p align="justify">09:30 - 10:30  Keynote Gabor Lugosi</p>
                    <p align="justify">10:30 - 11:00  Coffee break</p>
                    <p align="justify">11:00 - 13:30  Session 3</p>
                    <p align="justify">13:30 - 14:30  Lunch</p>
                    <p align="justify">14:30 - 15:30  Keynote 4</p>
                    <p align="justify">15:30 - 16:30  Posters/Coffee break</p>
                    <p align="justify">16:30 - 18:00  Session 4</p>
                </div>
             </div>
            </div>
        </div>
    </section>
