 <!-- Sponsors Section -->
    <section id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sponsors</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="logo">
                  <a href="http://www.telecom-paristech.fr/"  target="_blank">
                    <img src="img/telecom-paristech.png"/>
                  </a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="logo">
                  <a href="https://digicosme.lri.fr/"  target="_blank">
                    <img src="img/labex-digicosme.png"/>
                  </a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="logo">
                  <a href="http://www.fondation-hadamard.fr/fr/lmh"  target="_blank">
                    <img src="img/labex-hadamard.png"/>
                  </a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="logo">
                  <a href="http://www.datascience-paris-saclay.fr/"  target="_blank">
                    <img src="img/lidex-cds.png"/>
                  </a>
                </div>
              </div>
            </div>
        </div>
    </section>
