<!-- Venue Section -->
     <section class="success" id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Venue</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="col-lg-6 col-md-12  col-sm-12 col-xs-12">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.3225774726643!2d2.168748415325308!3d48.699315079272104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67f55f262267d%3A0xfaf34e568ce1b1fc!2sLaboratoire+de+l&#39;Acc%C3%A9l%C3%A9rateur+Lin%C3%A9aire!5e0!3m2!1sen!2sfr!4v1467824719433" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
<div class="col-lg-2">
</div>
                    <div class="col-lg-4">
                        <span class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                           <p align="justify"> 
Laboratoire de l'Accélérateur Linéaire </br>
Centre Scientifique d'Orsay</br> 
Bâtiment 200 - BP 34 </br>
91898 ORSAY Cédex  </br></p>
                        </span>

                   </div>
                </div>
           </div>
        </div>
    </section>

